/*-------------- hamburger -----------------*/
.ic-hamburger {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 22px;
	height: 15px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 0.3s;

	&:focus{outline: none;}
	
	span {
		display: block;
		width: 100%;
		height: 3px;
		border-radius: 1.5px;
		position: absolute;
		top: 6px;
		left: 0;
		right: 0px;
		background: #000;
	}
	
	 span::before,
	 span::after {
		content: "";
		width: 100%;
		position: absolute;
		display: block;
		left: 0;
		width: 100%;
		height: 3px;
		border-radius: 1.5px;
		background-color: #000;
	}
	
	span::before {top: -6px;}
	span::after {bottom: -6px;}
	
	span::before {transition: top 0.3s ease 0.3s, transform 0.3s ease 0s;}
	span::after {transition: bottom 0.3s ease 0.3s, transform 0.3s ease 0s;}
	
	&.active span {background: none;}
	
	&.active span::before {
		top: 0;
		transform: rotate(45deg);
	}
	
	&.active span::after {
		bottom: 0;
		transform: rotate(-45deg);
	}
	
	&.active{
		width: 30px;
		height: 30px;
	}

	&.active span{top: 10px;}
	
	&.active span::before {transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;}
	&.active span::after {transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s;}

	&.active span,
	&.active span::before,
	&.active span::after{
		width: 100%;
	}
	
	&:hover span,
	&:hover span::before,
	&:hover span::after{
		background-color: $color-pink;
	}
	
	&.active:hover span{
		background-color: transparent;
	}
}