/*-------------- top-menu -----------------*/
.top-menu{
	display: flex;
	align-items: center;

	&,
	&__item{
		@include reset-list;
	}

	&__item::before{display: none;}

	&__item,
	&__link{
		@include font(normal, normal, rem(16px), 1.2, $color-text);
		transition: all 0.2s ease 0s;
	}

	&__item{margin: 0 23px;}

	&__item.active &__link,
	&__link:hover{
		color: $color-pink;
	}
}

@media (max-width: 1239px) {
	.top-menu{
		&__item{margin: 0 10px;}
	}
}