extends ../layout/main

block variables
	- var title = 'Franchising';

block content
	section.page-header.bg-grad-pink
		.container
			.row
				.col-lg-10.offset-lg-1
					h1 זכיינות

	section.video.bg-black.first-elem
		.container
			.row
				.col-sm-10.offset-sm-1
					.video__content
						<iframe width="1920" height="938" src="https://www.youtube.com/embed/NZGEDJHhaPw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

	section.info-block
		.container
			.row
				.col-sm-6.col-md-6.offset-md-1
					.info-block__content
						.info-block__title VR-DRIVE להיות זכיין של

						.info-block__text
							p מהפכה בעולם לימודי התאוריה! 
							p פיתוח טכנולוגי חדש באמצעות מציאות מדומה VR מאפשר ללמוד לתאוריה ולהגביר את הסיכויים להצלחה במבחן התאוריה. רשת VRDRIVE - מציעה מתחמים עתידניים ללימודי תאוריה ונהיגה באמצעות מציאות מדומה, הרשת הוקמה בשנת - 2016 על ידי האחים עדיאל ושלו כהן העומדים מאחורי המיזם, האחים זיהו כי תלמידים חדשים, ללא ניסיון נהיגה, מתקשים ללמוד ולהבין תוכן תיאורטי וכן מתקשים להתרכז בתהליך הלמידה ולכן מספר הנכשלים עולה מדי שנה. שיטת הלימוד שפיתחו ממקדת את התלמידים,מנגישה את החומר בצורה ויזואלית, חווייתית, ברורה ומלאת עניין.

							img(src="assets/img/vr-glasses.png", alt="").d-sm-none
							
							.h4 עדיאל כהן, מבעלי הרשת: 
							p “הסימולטורים המשוכללים שבנינו מדמים נהיגה בשטח אמיתי ומספקים גם חוויה היקפית ללימודי התאוריה. עד כה אנחנו יכולים לדווח כי 80% מהתלמידים שלקחו שיעורי נהיגה ב-VR עברו את מבחן התאוריה בפעם הראשונה”.
							p אחד הדברים שבני הנוער מחכים לו הוא הוצאת רישיון הנהיגה.אולם, כולם יודעים כי עוד לפני קבלת הרישיון בכלל, והיכולת להיכנס לרכב ולקבל שיעורי נהיגה בפרט, צריך ללמוד ולעבור את מבחן התיאוריה. 
							p אז מה עושים? אפשר לרכוש ספרי לימוד, לשנן את החוקים על יבש ובעל פה, לגשת למבחן ולסמוך על המזל שיעביר אתכם. או שתתנו לנו להכיר לכם פיתוח טכנולוגי חדש אשר באמצעות מציאות מדומה (VR) יאפשר לכם ללמוד תאוריה בצורה חוויתית ומקיפה, שתגביר לכם את הסיכוי לעבור את המבחן בהצלחה.


				.col-sm-6.col-md-5.d-none.d-sm-block
					.info-block__img.info-block__img_center.js-anim.anim
						img(src="assets/img/vr-glasses.png", alt="")

	section.info-block.info-block_visible.info-block_indent.bg-grad-blue
		.container
			.row
				.col-md-5.offset-md-1
					.info-block__content
						.info-block__title.info-block__title_sm-indemt חזון הרשת
						.info-block__text
							p אנו מקנים ללומדים ידע תיאורטי מתוך הבנה אמיתית ולא מתוך שינון טכני, בשאיפה לשדרג את תרבות לימוד הנהיגה בישראל, להביא את הלומדים לרמת מוכנות ומודעות לנהיגה, באופן שיפחית משמעותית תאונות דרכים ובמיוחד בקרב נהגים חדשים.

						.info-block__sign
							img(src="assets/img/lamed-big.png", alt="")

	section
		img(src="assets/img/hall.jpg", alt="")

	section.info-block.bg-grad-blue.info-block_indent
		.container
			.row
				.col-md-6.offset-md-1
					.info-block__content
						.info-block__title.info-block__title_sm-indemt מדוע כדאי להצטרף למשפחת VR DRIVE?
						.info-block__text
							ul
								li סביבה צעירה – מתאים לזכיינים צעירים.
								li הכשרה מלאה – הזכיין והעובדים עוברים הכשרה מלאה בסניף הראשי של הרשת.
								li סיוע באיתור – מיקום מנצח למרכז הלימוד ומו”מ עד לחתימת החוזה.
								li ליווי צמוד ואישי – של הרשת בכל תהליך הקמת הסניף.
								li סיוע בקבלת מימון ראשוני – יועץ מטעם הרשת שייסע לך להכין תוכנית עסקית ולהגיש בקשה לגיוס מימון לאחת הקרנות.
								li שיווק ופרסום – הרשת דואגת לפרסום אזורי וארצי בכל המדיה , חברת טלמרקטינג צמודה לרשת.

	section.step
		.container
			.row.align-items-center
				.col-md-3.col-lg-2.offset-lg-1
					.step__title הצעדים לפתיחת סניף VR-DRIVE

				.col-md-9.col-lg-7.col-xl-6.offset-lg-1
					.step-list
						-
							var list=[
								{icon:'ic-group', icon_width:'36', icon_height:'36', text:'תיאום פגישה'},
								{icon:'ic-setting', icon_width:'36', icon_height:'36', text:'תכנון והקמה', color:'yellow'},
								{icon:'ic-finance', icon_width:'36', icon_height:'36', text:'גיוס מימון', color:'blue'},
								{icon:'ic-learn', icon_width:'32', icon_height:'32', text:'התלמדות בסניף הראשי', color:'turquoise'},
								{icon:'ic-signature', icon_width:'32', icon_height:'34', text:'חתימה על הסכם זיכיון', color:'red'},
								{icon:'ic-find', icon_width:'36', icon_height:'35', text:'גיוס עובדים והכשרתם', color:'light-blue'},
								{icon:'ic-address', icon_width:'26', icon_height:'36', text:'איתור מיקום לסניף', color:'pink'},
								{icon:'ic-cut', icon_width:'30', icon_height:'30', text:'פתיחת הסניף בליווי צמוד', color:'light-red'},
							]

						each item in list
							.step-list__item
								.step-list__content
									.step-list__icon(class=item.color?'step-list__icon_'+item.color:'')
										+svg(item.icon, item.icon, item.icon_width, item.icon_height)
									.step-list__text= item.text

	section.history.bg-grad-blue
		.container
			.row
				.col-md-5.col-lg-4.offset-md-1
					.history__content
						.history__text
							p רשת וי אר דרייב התחילה את פעילותה והקמת התוכנה ב- 1.6.16
							p הסניף הראשון נפתח ב1.9.18- ולאחר כשנה נפתחו 10 סניפים נוספים ברחבי הארץ, מהדרום ועד לצפון.
						
						.history-office
							.history-office__title הסניפים שלנו בישראל:

							.history-office__text באר שבע | אילת | ירושלים | ראשון לציון | פתח תקווה | עפולה | חיפה | כרמיאל | נוף הגליל  | אשקלון

						.history-office
							.history-office__title שעות פעילות:

							.history-office__text
								|ימים א’-ה’ 9:00-20:00 
								br
								|ימי ו’ 9:00-14:00
								br
								|האתר שלנו - www.vrdrive.co.il

				.col-md-6.col-lg-5
					.history__img
						img(src="assets/img/map.png", alt="")
	
	section.form-site-wrap.bg-black.last-elem
		.container
			.row
				.col-md-12
					.form-site
						.form-site__title לתיאום פגישת הכרות או פרטים נוספים :

						.form-site__content
							.form-site__field
								input(type="text", placeholder="שם מלא")

							.form-site__field
								input(type="text", placeholder="טלפון")

							.form-site__field
								input(type="email", placeholder="דוא”ל")

							button.btn.btn_white(type="submit")
								span.btn__text < שלח