extends ../layout/main

block variables
	- var title = 'Content';
	- 
		var pagelist = [
			{href: 'main.html',name:'Main'},
			{href: 'gallery.html',name:'Gallery'},
			{href: 'about.html',name:'About'},
			{href: 'press-video.html',name:'Press (video)'},
			{href: 'press-article.html',name:'Press (article)'},
			{href: 'franchising.html',name:'Franchising'},
			{href: 'contact.html',name:'Contact'},
			{href: 'training.html',name:'Training'},
			{href: 'training2.html',name:'Training 2'},
			{href: 'training3.html',name:'Training 3'},
			{href: 'training4.html',name:'Training 4 (error)'},
			{href: 'training5.html',name:'Training 5 (success)'},
			{href: 'tipografika.html',name:'Typography'},
		];

block content
	section
		.container
			.row
				.col-12
					h1 Content
					ul
						each page in pagelist
							li
								a(href=page.href, target="_blank")= page.name


