footer.footer
	.footer-top
		.container
			.row
				.col-sm-6.col-md-3
					.footer-top__title סניפים

					.footer-address
						-
							var list=[
								'סניף באר שבע – גרנד קניון קומה 2-, טל: 08-9900077',
								'סניף חיפה – ההסתדרות 58, טל: 04-8485055',
								'סניף ירושלים – המלך ג’ורג’ 3, בניין הפעמון, טל: 02-6316370',
								'סניף עפולה – קניון העמקים, קומה 3, טל: 04-9954070',
								'סניף נוף הגליל – גלבוע 1 מתחם מול הרים, טל: 0723934461',
								'סניף אילת – מדיין 12 מרכז הוכמן  טל:  072-3934831',
								'סניף ראשון לציון – קניון ערי החוף, רח’ סחרוב 19 טל: 03-7590222',
								'סניף כרמיאל – הכבאי 6, מרכז שווקים טל:  04-6076666',
								'סניף פתח תקווה – ז׳בוטינסקי 100 טל: 03-5026226',
								'סניף אשקלון – אלי כהן 21, מרכז מסחרי קריית האקדמיה טל: 0723934006',
							]
						each item in list
							.footer-address__item= item
				
				.col-sm-6.col-md-3
					.footer-top__title אודותינו
				
					.footer-top__text מרכז לימודי המספק חווית למידה תוך כדי נהיגה על ידי שילוב טכנולוגיית מציאות מדומה (VR) הסימולטור נועד ללימוד תאוריה, הכנה למבחן, הכנה ללימודי נהיגה, אימון מצב הילוכים והדרכות לנהיגה נכונה. השיטה החדשה משלבת חווית נהיגה, הסברים, קטעי וידאו ושאלות טריוויה. חווית ה- VR מאפשרת לדמות את התפיסה המרחבית וכיווני ההסתכלות של הנהג ומקנה תחושת המצאות בתוך הרכב בזמן אמת. כאשר התלמיד רואה באופן וויזואלי את התמרור או הסיטואציה ויקבל מהמורה הווירטואלי הסבר הוא ילמד ויבין יותר!
				
				.col-md-6
					.footer-top__info
						ul.footer-menu
							-
								var list = [
									'שאלון תאוריה',
									'גלריה',
									'אודות',
									'מן העיתונות',
									'זכיינות',
								]
							each item in list
								li.footer-menu__item
									a(href="#").footer-menu__link= item

						.footer__contact
							.footer-top__title צור קשר

							.footer-contact
								.footer-contact__text
									|דוא”ל: info@vrdrive.co.il
									br
									|טל: 5237*

			.row
				.col-12
					.footer-bottom
						.footer-bottom__copyright Copyright © 2020 VRDRIVE. All rights reserved.
						.footer-bottom__dev Design & Development by
							img(src="assets/img/develop.svg", alt="")
							| Benyehuda